{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h2>Edit My Information</h2>

    <!-- only render certain info rather than updating everything like username/password too-->
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="mb-3">
            {{ form.bio.label_tag }}
            {{ form.bio }}
        </div>
        <div class="mb-3">
            {{ form.address.label_tag }}
            {{ form.address }}
        </div>
        <div class="mb-3">
            {{ form.phone_number.label_tag }}
            {{ form.phone_number }}
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'userbase:owner_settings' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
