{% extends 'base.html' %}
{% block content %}

<style>
  .dog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .dog-card {
    width: 200px;
    height: 250px;
    border: 1px solid #ccc;
    text-align: center;
  }
  .dog-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .header-container h2 {
    margin: 0;
  }
</style>

<div class="header-container">
  <h2>My Dogs</h2>
  {% if not error_message %}
    <a href="{% url 'create_dog' %}" class="btn btn-primary">Add New Dog</a>
  {% endif %}
</div>

{% if error_message %}
  <div class="alert alert-warning">
    {{ error_message }}
  </div>
{% else %}
  {% if dogs %}
    <div class="dog-grid">
      {% for dog in dogs %}
        <div class="dog-card">
          <img src="{{ dog.photo.url }}" alt="{{ dog.dog_name }}">
          <h3>{{ dog.dog_name }}</h3>
        </div>
      {% empty %}
        <p>You haven't added any dogs yet.</p>
      {% endfor %}
    </div>
  {% endif %}
{% endif %}
{% endblock %}